body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #150239;
    
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  

  #login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .login-card {
    background: white;
    color: #333;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 90%;
    max-width: 400px;
  }
  
  .login-card h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #003366;
  }
  
  .login-card h2 {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #007acc;
  }
  
  .login-card p {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #555;
  }
  
  
  #login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #login-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  #login-form button {
    width: 100%;
    padding: 10px;
    background-color: #007acc;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  #login-form button:hover {
    background-color: #005fa3;
  }
  
  .signup-link {
    margin-top: 20px;
    font-size: 0.9rem;
  }
  
  .signup-link a {
    color: #007acc;
    text-decoration: none;
  }
  
  .signup-link a:hover {
    text-decoration: underline;
  }